* {
  margin: 0;
  padding: 0; }

nav ul {
  display: flex;
  justify-content: end;
  background-image: linear-gradient(45deg, black, grey); }
  nav ul li {
    margin: 2rem;
    padding: 1rem;
    font-size: 2rem;
    list-style: none;
    border-radius: 1rem;
    background-color: grey; }
    nav ul li:hover {
      background-color: black;
      color: white; }

.main {
  display: flex; }
  .main h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1rem; }
  .main p {
    padding: 1rem; }
  .main img {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    align-items: center; }

.footer {
  background-color: grey; }
  .footer ul {
    display: flex;
    flex-direction: row;
    margin: 4rem;
    justify-content: space-between;
    align-items: baseline; }
    .footer ul li {
      list-style: none;
      justify-content: end;
      font-size: 1rem; }
      .footer ul li:hover {
        background-color: antiquewhite; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }
