*{
    margin: 0;
    padding: 0;
}

@import'./secciones/index';
@import'./secciones/header';
@import'./secciones/main';
@import'./secciones/footer';

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "main main main"
      "main main main"
      "footer footer footer";
  }
  
  .header { grid-area: header; }
  
  .main { grid-area: main; }
  
  .footer { grid-area: footer; }
  
